@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: var(--Poppins-font);
}

:root {

    --prim-color: #ff823a;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #7e7e7e;
    --section-color: #EDF1F0;

    --bricolage-font:"Bricolage Grotesque", sans-serif;
  --Poppins-font:"Poppins", sans-serif;

    --transition-regular: .3s;
    --transition-slow: .6s;
}

html,
body {
    overflow-x: hidden;
}


.nav-link::after,
.nav-link::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-link::after {
  top: 0;
  left: 0;
  width: 0;
}

.nav-link::before {
  bottom: 0;
  right: 0;
  width: 0;
}

.nav-link:hover::after,
.nav-link:hover::before {
  width: 100%;
}


.btn {
    background-color: var(--black-color);
    color: var(--white-color);
}

.btn:hover {
    background-color: var(--prim-color) !important;
    color: var(--white-color) !important;
}

.hero {
    margin-top: 70px;
}

.hero-wrap {
    height: 70vh;
    background-image: url(assets/Hero-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    animation: anim-zoomout var(--transition-regular) forwards linear;
}

.hero-wrap2 {
    background-image: url(assets/Hero-2.png) !important;
}


.hero-content {
    width: 50%;
}

.hero-content h5 {
    color: var(--black-color);

    opacity: 0;
    animation: anim-top .6s 1.2s forwards linear;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    font-family: var(--bricolage-font);
    animation: anim-top .6s 0.9s forwards linear;
}
.hero-content h1 span{
    font-family: var(--bricolage-font);
}

.hero-content p {
    font-size: 1.2rem;
    width: 90%;
    color: var(--text-color);
    opacity: 0;
    animation: anim-top .6s 0.6s forwards linear;
}

.hero-btn {
    font-size: 1.5rem;
    width: 200px !important;
    opacity: 0;
    animation: anim-top .6s 0.3s forwards linear !important;
}

/* Hero Animations */

@keyframes anim-top {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes anim-zoomout {
    0% {
        transform: scale(1.3)
    }

    100% {
        transform: scale(1)
    }
}

/* Hero MQ Section */

@media (max-width:1199px) {
    .hero-content h1 {
        font-size: 3.3rem;
    }
}

@media (max-width:991px) {
    .hero-content {
        width: 60%;
    }

    .hero-content h1 {
        font-size: 2.8rem;
    }
}

@media (max-width:767px) {
    .hero-content {
        width: 90%;
    }
    .hero-content h1 {
        font-size: 2.8rem;
    }
}


/* Products PAGE */

.product-item {
    cursor: pointer;
}

.product-item:hover .product-icons .product-icon:nth-child(1) {
    transform: translateY(0px);
    transition-duration: .2s;
}

.product-item:hover .product-icons .product-icon:nth-child(2) {
    transform: translateY(0px);
    transition-duration: .5s;
}

.product-item:hover .product-icons .product-icon:nth-child(3) {
    transform: translateY(0px);
    transition-duration: .8s;
}

.product-image {
    width: 100%;
    cursor: pointer;
}

.product-image img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition-slow);
}

.product-item:hover .product-image img:nth-child(2) {
    opacity: 1;
}

.product-content{
    position: relative;
}
.product-content:after{
    content: 'View Product';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--bricolage-font);
    font-size: 3rem;
    font-weight: 600;
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 1px var(--black-color);
    background-clip: text;
    opacity: 0.15;
}
.fev-product-content:after{
    font-size: 2.5rem;
}
.product-content h3 {
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--bricolage-font);
}

.product-content span {
    font-family: var(--bricolage-font);
    font-size: 1.1rem;
    font-weight: bold;
}

.product-icons {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0%;
    left: 0%;
    padding-bottom: 10px;
    z-index: 2;
}

.product-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 50%;
    transition: var(--transition-regular);
    transform: translateY(70px);
}

.product-icon:hover {
    background-color: var(--prim-color);
    color: var(--white-color);
}

.product-image .tag {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
    padding: 6px 20px;
    font-size: 1rem;
    font-weight: 700;
}

/* Seen In */

.seen-in {
    background-color: var(--section-color);
    padding-top: 3%;
    padding-bottom: 3%;
}

@media (max-width:575px) {
    .seen-in {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

/* favorite beauty section*/

.favorite-beauty-banner {
    overflow: hidden;
    position: relative;
}
.favorite-beauty-banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.favorite-beauty-banner img {
    transition: var(--transition-slow);
}

.favorite-beauty-banner:hover img {
    transform: scale(1.1);
}

.favorite-beauty-banner-title {
    position: absolute;
    bottom: 0;
    padding: 50px;
    color: var(--white-color);
}

@media (max-width:575px) {
    .favorite-beauty-banner{
        height: 700px;
    }
}



/* ABOUTT PAGE */


.banner-section {
    min-height: 50vh;
    width: 100%;
    background-image: url(assets/section-banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}


.banner-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    opacity: 0.6;
}

.banner-section-content h6 {
    color: var(--white-color);
    font-weight: 500;
    font-family: var(--Poppins-font);
    font-size: .75rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

/* BLOG */

.blog-image {
    height: 250px;
}

.blog-image img {
    height: 100% !important;
    object-fit: cover;
}


.blog-image img {
    transition: var(--transition-regular);
}

.blog-image:hover img {
    transform: scale(1.1);
}

.blog-content .blog-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.blog-content .blog-title span {
    background-color: #f5f5f5;
    color: var(--black-color);
    width: fit-content;
    padding: 4px 16px;
    font-size: .90rem;
    font-weight: 600;
    border-radius: 4px;
    transform: translateY(-20px);
}
